.CardContainer{
    display: inline-block;
}

.CardItem{
    position: relative;
    width: 320px;
    height: 520px;
    overflow:hidden ;
    margin: 40px 30px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  26px 26px 52px #ababab;
}

.CardItem img{
    position: relative;
    width: 300px;
    height: 70%;
    margin: 10px;
    border-radius: 10px;
}

.CardName{
    color:#000000de;
    font-size: 20px;
    z-index: 10;
    margin-top: 8px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.CardPrice{
    font-size: 15px;
    color: #5a5880;
    font-family: 'Courier New', Courier, monospace;
}

.SeeDetails{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    margin-top: 5px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    border: 2px solid black;
}

.SeeDetails:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.ecommerceCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}