.ThankYou {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

.OrderNumber{
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}